
<form method="post" action="/organizers">

<label> Which date is this task list for? </label>
<input type="date" name="date_of_tasks">
<input type="text" name="tasks[]">
<input type="text" name="tasks[]">


</form>