<%#should contain code for site name (maybe logo) 
navigation bar

<%= yield (Where the other pages would load)%> 

<%#foot section maybe%>

<!DOCTYPE html>
<html>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="entry">Add a Journal Entry</a>
  <a href="organizer">Organizer</a>
  <a href="playgame">Play a Game</a>
</div>


<%= yield %>

</html>