<%#should contain code for site name (maybe logo) 
navigation bar

<%= yield (Where the other pages would load)%> 

<%#foot section maybe%>

<!DOCTYPE html>
<html>
<header>
    <img src="images/logo.png" alt="mylife logo"> 

    <% t = DateTime.now %>
    <p> <%= "Today is #{t.strftime('%A, %B %d, %Y')}. It is currently #{t.strftime('%l')}:#{t.strftime('%M %p')}." %> </p>
    <p> Would you like to record your life? </p>
</header>

<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="entry">Add a Journal Entry</a>
        <a href="organizer">Organizer</a>
        <a href="playgame">Play a Game</a>
    </div>
</nav>
<br> <br>
<style>
body {
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
</style>

<%= yield %>

</html>

