<!DOCTYPE html>
<html>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="entry">Add a Journal Entry</a>
  <a href="organizer">Organizer</a>
  <a href="playgame">Play Rubytopia</a>
</div>

<audio controls loop=true src="https://ia802905.us.archive.org/17/items/100ClassicalMusicMasterpieces/1875%20Smetana-%20The%20Moldau.mp3" type="audio/mp3">
</audio>





</html>