<!DOCTYPE html>
<html>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="entry">Add a Journal Entry</a>
  <a href="organizer">Organizer</a>
  <a href="playgame">Play Rubytopia</a>
</div>

<div>
<audio controls loop=true preload src="https://ia802905.us.archive.org/17/items/100ClassicalMusicMasterpieces/1893%20Dvorak-%20Symphony%20No.%209%2C%20%27From%20the%20New%20World%27%2C%202nd%20Movement.mp3" type="audio/mp3">
</audio>
</div>


<div>
<iframe height="700px" width="50%" src="https://repl.it/@yizheng1709/Rubytopia?lite=true&outputonly=1" scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>

</html>