
<br>
<div style="width:300px; margin:auto; position:relative;">
    <audio controls autoplay tite="isabella" loop=true preload src="/music/isabella.mp3" type="audio/mp3">
    </audio>
</div>
<br>

<div class="div1">

<form method="post" action="/organizers/<%= @organizer.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">


    <p class="p7">The tasks for <%= @organizer.date_of_tasks %> </p>
<br> <br>
  <p class="p7">Edit your tasks:</p>
<br> <br>

    <ul style="list-style-type:none;">
    <% if @organizer %>
        <% @organizer.tasks.each do |task| %>
            <li> <input class="organizer_input" type="text" name="tasks[]<%= task.id %>" value="<%= task.task_name %>"> </input></li> <br>
        <% end %>
    <% end %>
    </ul>

    <input type="submit" value="Submit" class="front_button">

</form>

</div>
<br> <br> <br> <br?>