<div class="div4">

<form method="post" action="/organizers">

     Which date is this task list for? 
    <input type="date" name="date_of_tasks">
<br> <br>
    Input your tasks:
<br> <br>
    <ul style="list-style-type:none;">
        <li> <input type="text" name="tasks[][task_name]"> </li> 
<br> 
        <li> <input type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input type="text" name="tasks[][task_name]"> </li>
    </ul>

</form>

</div>