<div class="div4">

<form method="post" action="/organizers">

    <p class="p7"> Which date is this task list for?</p>
    <input type="date" class="organizer_date" name="date_of_tasks">
<br> <br>
  <p class="p7">Input your tasks:</p>
<br> 
    <ul style="list-style-type:none;">
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li> 
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
    </ul>

    <input type="submit" value="Submit" class="front_button">

</form>

</div>