<div class="div4">

<br> <br>
<% if @messages %>
<p class="p10"> There was an error saving your list. </p>
        <% @messages.each do |message| %>
              <p class="p10"> <%= message %>. </p> <br>
        <% end %>
        <br> 
<% end %>

<form method="post" action="/organizers">

    <p class="p7"> Which date is this task list for?</p>
    <input type="date" class="organizer_date" name="date_of_tasks">
<br> <br>
  <p class="p7">Input your tasks:</p>
<br> 
    <ul style="list-style-type:none;">
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li> 
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
<br> 
        <li> <input class="organizer_input" type="text" name="tasks[][task_name]"> </li>
    </ul>

    <input type="submit" value="Submit" class="front_button">

</form>

</div>
<br> <br> <br> <br>