
<div style="width:300px; margin:auto; position:relative;">
    <audio controls autoplay loop=true src="/music/temple.mp3" type="audio/mp3">
    </audio>
</div>

<br><br>

<div class="div1">

    <p class="p6"> <a href="/organizers/new"> 
    <button type="button" value="Add New Organizer" class="organizer_button">
    Add New Organizer
    </button></a> </p>
</div>

<div class="div1">
<br>
<p class="p13"> Here are your organizers, ordered by date: </p>
<br> <br>

<% @organizers.each do |organizer| %>
    <p>
    <a href="/organizers/<%=organizer.id%>" class="date_link">
    <%= organizer.date_of_tasks %> 
    </a>
    </p> 
<% end %>

</div>

<br> <br> <br> <br> <br>