
<div style="width:300px; margin:auto; position:relative;">
    <audio controls loop=true src="/music/temple.mp3" type="audio/mp3">
    </audio>
</div>

<br><br>

<div class="div3">

    <form method="get" action="/organizers/new">
    <p class="p6"> <a href="/organizers/new"> 
    <button type="button" value="Add New Organizer" class="organizer_button">
    Add New Organizer
    </button></a> </p>
    </form>
</div>

<div class="div1">
<br>

<% @organizers.each do |organizer| %>
    <p class="p13">
    <a href="/organizers/<%=organizer.id%>">
    <%= organizer.date_of_tasks %> 
    </a>
    </p> 
<% end %>

</div>

<br> <br> <br>