
<div style="width:300px; margin:auto; position:relative;">
    <audio controls loop=true src="/music/temple.mp3" type="audio/mp3">
    </audio>
</div>

<br><br>

<div class="div3">

    <form method="get" action="/organizers/new">
    <a href="/organizers/new"> <p class="p6"> 
    <button type="button" value="Add New Organizer" class="organizer_button">
    Add New Organizer
    </button></p></a>
    </form>
</div>

<div class="div1">
<br>
will list all organizers soon!
</div>
