


<br> 
<div class="div1">
<img src="/images/park.gif" alt="park.gif" class="homepage">

<br> <br>
<h1 class="h1"> <p class="p8"> Welcome, <%= @user.username %>! </p> </h1>
<br>
<h2 class="h2">  <p class="p8"> Enjoy your stay! <br>
<br> Please use the navaigation bar to explore this site's features. </p> </h2> 
</div>
<br> <br> <br>