<br> <br>

<img src="/images/park.gif" alt="park.gif" class="homepage">

<br> 
<h1 class="h1"> Welcome, <%= @user.username %>! </h1>
<br>
<h2 class="h2"> Enjoy your stay! 
<br> Please use the navaigation bar to explore this site's features. </h2> 
