
<div style="width:300px; margin:auto; position:relative;">
<audio controls autoplay loop=true src="/music/summer.mp3" type="audio/mp3">
</audio>
</div>
<br><br>
<div class="div1">
<img src="/images/lake.gif" alt="lake.gif" class="homepage">
</div>

<% if @messages %>
    <% @messages.each do |message| %>
      <br> <p class="p7">  <%= "#{message}."%> </p> <br>
    <% end %>
<% end %>
<br>
<p class="p12"> Please signup below. </p> <br> <br>

<div class="login">
<form method="post" action="/signup"> 
<p class="p3"> <label for="username"> Create Your Username </label> </p>
<input type="text" name="username" class="login_input">
<br> <br>
<p class="p3"> <label for="password"> Create Your Password </label> </p> 
<input type="password" name="password" class="login_input">
<br> <br>
<p class="p4"> <input type="submit" value="Sign Up" class="front_button"> </p>

</form>
</div>
<br> <br> <br> <br> <br>