
<div style="width:300px; margin:auto; position:relative;">
<audio controls loop=true src="music/Moldau.mp3" type="audio/mp3">
</audio>
</div>
<br><br>
<div class="login">
<form method="post" action="/signup"> 

<p class="p3"> <label for="username"> Create Your Username </label> </p>
<input type="text" name="username">
<br> <br>
<p class="p3"> <label for="password"> Create Your Password </label> </p> 
<input type="text" name="password">
<br> <br>
<p class="p4"> <input type="submit" value="Sign Up" class="front_button"> </p>

</form>
</div>
