
<div class="div1">

How about doing some yoga to destress? <br> <br> <br>

<iframe class="videodiv" width="770" height="433" src="https://www.youtube.com/embed/playlist?list=PLif0ICtKj24l9KsF4xTekTNE2-Z4EJ2-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<br> <br> <br> <br>