

<div style="width:300px; margin:auto; position:relative;">
    <audio controls tite="Sugat Plum Fairy" loop=true preload src="music/SugarPlumFairy.mp3" type="audio/mp3">
    </audio>
</div>
<br> <br>

<p class="p5"> The username and password combination was not found. <br>
Please try again. </p>

<div class="pokemon">
    <img src="images/bulba.gif" style="width:10%; length:10%">
    <img src="images/charmander.gif" style="width:10%; length:10%">
    <img src="images/squirtle.gif" style="width:10%; length:10%">

</div>

<br> <br>
<div class="login">
    <form method="post" action="/login">
        <p class="p3"> <label for="username"> Username </label> </p>
        <input type="text" name="username">
<br> <br>
        <p class="p3"> <label for="password"> Password </label> </p> 
        <input type="password" name="password">
<br> <br>
        <p class="p4"> <input type="submit" value="Log In" class="front_button"> </p>
    </form>
<br>

    <form method="get" action="/sign-up">
        <p class="p4"> <input type="submit" value="Sign Up" class="front_button"> </p> 
    </form>
</div>


