
<div style="width:300px; margin:auto; position:relative;">
<audio controls tite="Sugat Plum Fairy" loop=true preload src="music/SugarPlumFairy.mp3" type="audio/mp3">
</audio>
</div>

<aside>
<form method="post" action="/login">
<p> <label for="username"> Username </label> </p>
<input type="text" name="username">
<p> <label for="password"> Password </label> </p> 
<input type="text" name="password">
<p> <input type="submit" value="Log In"> </p>
</form>

<form method="get" action="/sign-up">
<p> <input type="submit" value="Sign Up"> </p> 
</form>
</aside>

