

<div style="width:300px; margin:auto; position:relative;">
    <audio controls tite="Snowdrift" loop=true preload src="/music/snowdrift.mp3" type="audio/mp3">
    </audio>
</div>
<br> <br>

<p class="p5"> Please login or sign-up to continue and <br> 
use Google Chrome for best user-experience. </p>

<div class="pokemon">
    <img src="/images/bulba.gif" style="width:10%; length:10%">
    <img src="/images/charmander.gif" style="width:10%; length:10%">
    <img src="/images/squirtle.gif" style="width:10%; length:10%">

</div>

<br> <br>
<div class="login">
    <form method="post" action="/login">
        <p class="p3"> <label for="username"> Username </label> </p>
        <input type="text" name="username" class="login_input">
<br> <br>
        <p class="p3"> <label for="password"> Password </label> </p> 
        <input type="password" name="password" class="login_input">
<br> <br>
        <p class="p4"> <input type="submit" value="Log In" class="front_button"> </p>
    </form>
<br>

   
    <a href="/signup"> <p class="p4"> 
    <button type="button" value="Sign Up" class="front_button"> 
    Sign Up </button> </p> </a> 
  
</div>


