
<div style="width:300px; margin:auto; position:relative;">
<audio controls tite="Sugat Plum Fairy" loop=true preload src="music/SugarPlumFairy.mp3" type="audio/mp3">
</audio>
</div>
<br> <br>
<div class="login">
<form method="post" action="/login">
<p class="p3"> <label for="username"> Username </label> </p>
<input type="text" name="username">
<br> <br>
<p class="p3"> <label for="password"> Password </label> </p> 
<input type="text" name="password">
<br> <br>
<p class="p4"> <input type="submit" value="Log In"> </p>
</form>
<br>
<form method="get" action="/sign-up">
<p class="p4"> <input type="submit" value="Sign Up"> </p> 
</form>
</div>


