<%#should contain code for site name (maybe logo) 
navigation bar

<%= yield (Where the other pages would load)%> 

<%#foot section maybe%>

<!DOCTYPE html>
<html>


<header >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    


<link rel="stylesheet" href="/stylesheets/main.css" />

<img src="images/logo.png" alt="mylife logo" class="center"> 

    <% t = DateTime.now %>
    <p class="p1"> <%= "Today is #{t.strftime('%A, %B %d, %Y')}. It is currently #{t.strftime('%l')}:#{t.strftime('%M %p')}." %> </p>
    <p class="p1"> Would you like to record your life? </p>

<nav class="navigation-bar">

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/entries">Journal Entries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/organizers">Organizers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/playgame">Play Game</a>
  </li>
</ul>
</nav>



<%# <nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="entry">Add a Journal Entry</a>
        <a href="organizer">Organizer</a>
        <a href="playgame">Play a Game</a>
    </div>
</nav> %>
</header>
<br> <br>
<%# <img src="images/sakura.gif" alt="sakura" class="sakura">  %>


<style>

.p1 {
  font-family: "Lucida Handwriting";
  text-align: center;
}

body {
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}

.navigation-bar {
    background-image: url("images/navbar.png");
    width: 40%; 
    height: 43px;
    opacity: 0.8; 
    border-radius: 75px;
    margin-left: auto;
    margin-right: auto;
}


</style>

<%= yield %>

</html>

