<!DOCTYPE html>
<html>

<header >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<br>

<a href="/users/logged_in_home"> <img src="/images/logo.png" alt="mylife logo" class="logo"> </a>

<div class="div2">

 
<br><br><br>
    <% t = DateTime.now %>
    <p class="p1"> <%= "Today is #{t.strftime('%A, %B %d, %Y')}. It is currently #{t.strftime('%l')}:#{t.strftime('%M %p')}." %> </p>
    <p class="p1"> Would you like to record your life? </p>
</div>
<br><br>

<% if session[:user_id] %>
<nav class="navigation-bar">

<ul class="nav justify-content-center">
  <li class="nav-item">
    <p><a class="nav-link" href="/entries"> Journal Entries </a></p>
  </li>
  <li class="nav-item">
    <p><a class="nav-link" href="/organizers"> Organizers </a></p>
  </li>
  <li class="nav-item">
    <p><a class="nav-link" href="/playgame"> Play Game </a></p>
  </li>
  <li class="nav-item">
    <p><a class="nav-link" href="/logout"> Log Out </a></p>
  </li>
</ul>
</nav>
<% end %>

</header>
<br> <br>


<style>

@font-face {
    font-family: Minecraft;
    src: url("/fonts/Minecraft.ttf");
}

@font-face {
    font-family: rainyhearts;
    src: url("/fonts/rainyhearts.ttf");
}

.nav-link {
    cursor: pointer;
}

.login_input {
  border: 2px solid #add1ff;
  border-radius: 5px;
  box-sizing: border-box;
  width: 12%;
  color: #738cff;
}

.entry_input {
  color: #738cff;
  border: 2px solid #add1ff;
}


.organizer_input {
  border: 2px solid #add1ff;
  border-radius: 5px;
  box-sizing: border-box;
  width: 40%;
  color: #738cff;
}

.organizer_date {
  border: 2px solid #add1ff;
  border-radius: 5px;
  color: #738cff;
}

.p1 {
  font-family: Minecraft;
  text-align: center;
  font-size: 20px;
  color: #738cff;
}

.p2 {
  font-family: Minecraft;
  text-align: center;
  font-size: 23px;
  color: #738cff;
}

.p3 {
  font-family: Minecraft;
  font-size: 20px;
  color: #738cff;
}

.p4 {
  font-family: Minecraft;
  font-size: 19px;
}

.p5 {
    font-family: Minecraft;
    text-align: center;
    font-size: 21px;
    color: #738cff;
}

.p6 {
    font-family: Minecraft;
    text-align: center;
    font-size: 22px;
}

.p7{
  font-family: Minecraft;
  font-size: 20px;
  color: #738cff;
  text-align: center;

}

.p8{
  font-family: Minecraft;
  font-size: 20px;
  color: #738cff;
}

.p9 {
  font-family: Minecraft;
  text-align: center;
  font-size: 20px;
  color: #37cf00;
}

.p10 {
  color: #d39eff;
  font-family: Minecraft;
  text-align: center;
  font-size: 20px;
}

.p11 {
  font-family: Minecraft;
  text-align: center;
  font-size: 29px;
  color: #787cff;
}

.p12 {
  color: #94b4ff;
  font-family: Minecraft;
  text-align: center;
  font-size: 25px;
}

.p13 {
  font-family: Minecraft;
  text-align: center;
  font-size: 25px;
  color: #6694ff;
}

.p14 {
  font-family: rainyhearts;
  text-align: center;
  font-size: 23px;
  color: #364cbf;

}

.nav-link {
  font-family: Minecraft;
  text-align: center;
  font-size: 17px;
  color: white;
}

.nav-link:hover {
  color: #503b94;
}

.nav-link:active {
  color: #b52487;
}

.date_link {
  font-family: Minecraft;
  font-size: 20px;
  color: #738cff;
  text-align: center;
}

.date_link:hover {
  color: #b52487;
}

.front_button {
    padding: 10px 26px;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: white;
    color: #9ed0ff;
    font-family: Minecraft;
    text-align: center;

}

.front_button:hover {
  background-color: #9ed0ff;
  color: white;
}

.organizer_button {
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: white;
    text-align: center;
    color: #9ed0ff;
    padding: 10px 26px;
}

.organizer_button:hover {
  background-color: #9ed0ff;
  color: white;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}

.homepage {
  border-radius: 75px;
}


.navigation-bar {
    background-image: url("/images/pink.jpg");
    font-family: Minecraft;
    width: 50%; 
    height: 45px;
    border-radius: 95px;
    margin-left: auto;
    margin-right: auto;
}

.pokemon {
    text-align: center;
}

.div1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.div2 {
    background-image: url("/images/bg.png");
    width: 50%;
    height: 230px;
    opacity: 0.9; 
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

.div6 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.login {
    text-align: center;
}

</style>

<%= yield %>

</html>

