
<div style="width:300px; margin:auto; position:relative;">
<audio controls loop=true src="music/Moldau.mp3" type="audio/mp3">
</audio>
</div>

<form method="post" action="/signup"> 

<p> <label for="username"> Create Your Username </label> </p>
<input type="text" name="username">
<p> <label for="password"> Create Your Password </label> </p> 
<input type="text" name="password">
<p> <input type="submit" value="Sign Up"> </p>

</form>