
<div style="width:300px; margin:auto; position:relative;">
<audio controls autoplay loop=true preload src="/music/perfecttime.mp3" type="audio/mp3">
</audio>
</div>
<br> <br> <br>
<p class="p2">
This is a small game where the user gets to use the portal of Rubytopia <br>
and travel to any mythological place he/she wishes to go! The user can <br>
choose from a selection of Races to start their journey. Along the journey, <br>
the user will meet several kinds of Monsters as well as the cheeky Quiz <br>
Master! These Monsters are not as uncivilized as they appear to be, for <br>
they do know the meaning of kindness. But that's up to the user to believe. <br>
Are you ready to explore all the endings of this simple game? <br>
</p>
<br> <br> <br>

<p class="p1"> Press the </p>
<p class="p9"> green play button </p> 
<p class="p1"> to continue. </p>
<br> <br> <br>
<div class="div1">
<iframe class="game" height="600px" width="50%" src="https://repl.it/@yizheng1709/Rubytopia?lite=true&outputonly=1" scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
<br> <br> <br> <br>


